body {
  display: grid;
  grid-template-columns: 2% 61% 1fr;
  height: 2300px;
  font-family: Arial, Helvetica, sans-serif;
  transition: grid 0.1s;
}

@media (min-width: 1301px) {
  body {
    grid-template-columns: 19.5% 45.3% 1fr;
  }
}

@media (max-width: 1000px) {
  body {
    grid-template-columns: 5.4% 67.1% 1fr;
  }
}

::-webkit-scrollbar { 
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 172, 238, 0.12);
  margin-block: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 172, 238, 0.6);
  border-radius: 3px;
}